
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --fondo-oscuro: #1F2937;
    --azul-primario: #3882F6;
    --gris-claro: #E5E7EB;
    --texto-primario: #F9FAF8;
    --texto-secundario: #E5E7EB;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background-color: var(--fondo-oscuro);
    padding: 20px 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: var(--texto-primario);
    font-weight: 900;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: var(--texto-secundario);
    font-size: 18px;
}