
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --fondo-oscuro: #1F2937;
    --azul-primario: #3882F6;
    --gris-claro: #E5E7EB;
    --texto-primario: #F9FAF8;
    --texto-secundario: #E5E7EB;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background-color: var(--fondo-oscuro);
    padding: 20px 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: var(--texto-primario);
    font-weight: 900;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: var(--texto-secundario);
    font-size: 18px;
}

/* Seccion principal */
.hero{
    background-color: var(--fondo-oscuro);
    padding: 80px 0;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text{
    flex: 1;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    color: var(--texto-primario);
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 18px;
    color: var(--texto-secundario);
    margin-bottom: 20px;
}

.boton-primario{
    display: inline-block;
    background-color: var(--azul-primario);
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img{
    max-width: 100%;
    border-radius: 8px;
}